<section class = "hero is-primary is-bold is-fullheight">
    <div class="hero-body">
        <div class="center">
            <div class="container" style="width:500px">
            <!-- <form method="post" action="/addname"> -->
                <form #registerForm="ngForm" (ngSubmit)="signUp(registerForm.value)">
                <!-- class="container"> -->
         
                    <br><br><br><br><br><br><br><br><h4><h1>Register</h1><label>Name</label><br>
                    <input type="text" ngModel name="username" #username=ngModel placeholder="Enter your name..." required><br>                    <label>Email</label><br>
                    <input type="text" ngModel name="email" #email=ngModel placeholder="Enter your email..." required><br>
                    <label>Password</label><br>
                    <input type="password" ngModel name="password" #password=ngModel placeholder="Enter password..." required><br>
                    <label>Confirm Password</label><br>
                    <input type="password" ngModel name="c_password" #c_password=ngModel placeholder="Confirm password..." required><br>
                    <label>Phone No.</label><br>
                    <input type="text" ngModel name="phoneno" #phoneno=ngModel placeholder="Enter phoneno..." required><br>
                    <!-- <button type="submit" class="btn" >Register</button><br> -->
                    <button type="submit" class="btn" routerLink = "/login">Register</button><br><br></h4>
                    <!-- <button type="submit" class="btn" (click)='checkPwd()'> Register </button> -->
                </form>
            </div>
        </div>
    </div>
</section>
