<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- custom css file link  -->
    <link rel="stylesheet" href="payment.component.css">

</head>
<body>

<div class="container">

    <form action="" #payForm="ngForm">

        <div class="row">

            <div class="col">

                <h3 class="title">billing address</h3>

                <div class="inputBox">
                    <span>full name :</span>
                    <input type="text" placeholder="john" required ngModel name="uname" #uname=ngModel>
                </div>
                <div class="inputBox">
                    <span>email :</span>
                    <input type="email" placeholder="example@example.com" required ngModel name="email" #email=ngModel>
                </div>
                <div class="inputBox">
                    <span>address :</span>
                    <input type="text" placeholder="room - street - locality" required ngModel name="add" #add=ngModel>
                </div>
                <div class="inputBox">
                    <span>city :</span>
                    <input type="text" placeholder="hyderabad" required ngModel name="place" #place=ngModel>
                </div>

                <div class="flex">
                    <div class="inputBox">
                        <span>state :</span>
                        <input type="text" placeholder="india" required ngModel name="con" #con=ngModel>
                    </div>
                    <div class="inputBox">
                        <span>zip code :</span>
                        <input type="text" placeholder="123 456" required ngModel name="code" #code=ngModel>
                    </div>
                </div>

            </div>

            <div class="col">

                <h3 class="title">payment</h3>

                <div class="inputBox">
                    <span>cards accepted :</span>
                    <img src="assets/all1.jpg" alt="">
                </div>
                <div class="inputBox">
                    <span>name on card :</span>
                    <input type="text" placeholder="mr. john" required ngModel name="card" #card=ngModel>
                </div>
                <div class="inputBox">
                    <span>credit card number :</span>
                    <input type="number" placeholder="1111-2222-3333-4444" required ngModel name="num" #num=ngModel>
                </div>
                <div class="inputBox">
                    <span>exp month :</span>
                    <input type="number" placeholder="january" required ngModel name="box" #box=ngModel>
                </div>

                <div class="flex">
                    <div class="inputBox">
                        <span>exp year :</span>
                        <input type="number" placeholder="2022" required ngModel name="yr" #yr=ngModel>
                    </div>
                    <div class="inputBox">
                        <span>CVV :</span>
                        <input type="text" placeholder="1234" required ngModel name="cvv" #cvv=ngModel>
                    </div>
                </div>

            </div>
    
        </div>

        <input type="submit" [disabled]="!payForm.valid"value="proceed to checkout" class="submit-btn" (click)="showpay()">

    </form>

</div>    
    
</body>
</html>
