h1{
    color:rgb(167, 51, 157);
    font-size: 45px;
}
.center {
    display: flex;
    justify-content: center;
  }
  .container {
    height: 665px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 232, 243);
    width: 100px;
    border: 5px;
    padding: 10px;
    margin: 5px;
  }
  .hero {
    background-image : url('D:/angular1/demo/src/assets/w31.png') !important;
    background-size : cover;
    background-position: center center center;
   
}
