    <section class = "hero is-primary is-bold is-fullheight">
        <div class = "hero-body">
        <div class="container">
        </div>
        </div>
    </section>
    <section class="bg-white space-medium" style="border-top:unset;padding-top:40px;">
        <div class="container">
            <div class="row">
                <div class="col-sm--12">
                    <h1 class="main-color font-weight-bold text-center" style="font-size:28px;">About Us</h1>
                    <p>Every Indian family wants to have a dream wedding for its daughters and sons. Though, a dream wedding may mean different things to different people.<br><br>
            
                        Indian wedding functions are culturally the most vibrant and important social events for Indian families. Weddings provide once-in-a-lifetime opportunity to make grand social statements. And, the inconvenient truth is that all Indian families muster large sums of money to make their dream weddings come true.<br><br>
                        
                        Over the past 4 years, having interacted with nearly 20 thousand families, our biggest learning is that regardless of social class, Indian wedding customers primarily seek value for money. They are suspicious of wedding vendors and venues, and fear that they may either get fleeced or given poor services or both. In order to protect themselves, they spend months and months trying to assess the type, price and quality of vendors and venues available in the market. Their fear is not exaggerated as we have found that nearly 70% of Indian wedding vendors and venues are either unprofessional, untrained or ill-equipped to handle the demands of a dream weddings.<br><br>
                        
                        EasyWed.com is essentially built to solve this problem. We try to filter out as much as 70% of wedding vendors, hotels and banquet halls to pick out the most competent, proven and suitable vendors for our wedding customers. This helps our customers connect directly with trusted vendors and get most competitive offers, saving them months of tiresome effort required for finalizing and negotiating with vendors. All this saved time can be put to much better use and allow young couples many more romantic dates before their wedding.<br><br>
                        
                        A unique feature of WedAbout is that, unlike many other wedding websites, we do not take any commission for bookings from the vendors and venues on our website. Instead we charge a small yearly fees from the vendors listed on our platform. We aspire to be a truly transparent platform that does not engage in deception with our customers with respect to prices and/or quality.</p>
                </div>
            </div>
        </div>
    </section>
