.center {
    display: flex;
    justify-content: center;
  }
  .container {
    height: 675px;
    display: flex;
    justify-content: left;
    align-items: left;
  }
  h1{
    font-size: 40px;
    font-style:italic;
}
.hero {
    background-image : url('D:/angular1/demo/src/assets/Easy Wed.jpg') !important;
    background-size : cover;
    background-position: center center;
   

}
