<section class = "hero is-primary is-bold is-fullheight">
    <div class="hero-body">
        <div class="center">
            <div class="container" style="width: 50px">
                <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" class="container">
                    <h4><h1>Login</h1><label for="email"><b>Email  </b></label>
                    <input type="text" placeholder="Enter Email" ngModel name="email" #email=ngModel required><br><br>
  
                    <label for="password"><b>Password  </b></label>
                    <input type="password" placeholder="Enter Password" ngModel name="password" #password = ngModel required><br><br>
  
                    <!-- <button type="submit" class="btn">Login</button><br><br> -->
                    <button type="submit" class="btn" routerLink = "/venue">Login</button><br><br>
                    <a routerLink="/register">New User?</a></h4>
                </form>
            </div>
        </div>
    </div>
</section>
