.center {
    display: flex;
    justify-content: center;
}
.container {
    height: 635px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
    width: 300px;
    border: 5px;
    padding: 210px;
    margin: 20px;
}
.hero {
    background-image : url('D:/angular1/demo/src/assets/w35.jpg') !important;
    background-size : cover;
    background-position: center center center;
   
}
