<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<section class = "hero is-primary is-bold is-fullheight">
    <div class="hero-body">
        <div class="center">
                <div class="container" style="width: 450px">
                    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" class="form-group" novalidate>
                        <div class="center"><h1>Login</h1></div><br><br>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <!-- <input type="text" placeholder="loginId" ngModel name="loginId" #loginId=ngModel class="form-control" required minlength=2 maxlength="10"> -->
                            <input type="text" placeholder="email" ngModel name="email" #email=ngModel class="form-control" required minlength=2 maxlength="100"><br/><br>
                        </div>
                
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" placeholder="password" ngModel class="form-control" name="password" #password=ngModel required minlength=2 maxlength="10">
                        </div><br><br>
                <button class="btn btn-primary" [disabled]="!loginForm.valid"  style="background-color:rgb(168, 161, 161);color:rgb(26, 24, 24)">Login</button><br><br>
                <a routerLink="/register">New User?</a>
                </form>
                <div class="text-danger">
                    <div *ngIf="email.errors?.['required ']&& email.touched">Enter data in email field..</div><br>
                    <!-- <div *ngIf="email.errors?.['minlength'] && email.touched">Enter data in email field atleast  chars..</div> -->
                    <div *ngIf="password.errors?.['required'] && password.touched">Enter data in password field..</div><br>
                    <div *ngIf="password.errors?.['minlength'] && password.touched">Enter data in password field atleast field atleast 2 chars..</div><br>
                </div>
                </div>
        </div>
    </div>
</section>
