@import url('https://fonts.googlepis.com/css2?family=Cormorant+Garamond:wgth@700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: grid;
    height: 100vh;
    width: 100vw;
    justify-items: center;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;
    background: rgb(250, 249, 249);
}
.rsvp-container
{
    margin: 0 auto;
    height: 700px;
    width: 500px;
    background: white;
    position: relative;
    z-index: 1;
    box-shadow: 5px 5px 15px rgba(0,0,0.3);
}
.rsvp-container::after
{
    content: "";
    position: absolute;
    width: 400px;
    height: 600px;
    left: 50px;
    top: 50px;
    background: #fff;
    z-index: 1;
}
.rsvp-container::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("D:/angular1/demo/src/assets/img.png");
    background-size: cover;
    z-index: 3;
}
.rsvp-inner-container{
    position: relative;
    z-index: 4;
    padding: 130px;
}
h1{
    font-size: 28px;
    font-weight: semi-bold;
    margin: 30px 0 5px 0;
}
h2
{
    font-size: 18px;
    margin: 0 0 20px 0;
    font-weight: normal;

}
fieldset
{
    border: 0;
    margin-bottom: 18px;
}
.full-width input
{
    border: 0;
    border-bottom: 2px solid rgba(0,0,0,0.5);
    width: 100%;
    line-height: 28px;
    font-size: 14px;
    outline: none;
    background: transparent;
}
.full-width label
{
    display: inline-block;
    margin-right: 20px;
    line-height: 28px;
    font-size: 18px;
}
.half-width input
{
    border: 0;
    border-bottom: 2px solid rgba(0,0,0,0.5);
    line-height: 28px;
    font-size: 14px;
    outline: none;
    width: 70px;
    text-align: center;
}
.checkbox input
{
    border: 2px solid rgba(0,0,0,0.5);
    height: 28px;
    width: 28px;
    background-color: transparent !important;
}
.container
{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 28px;
}
.container input
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark
{
    position: absolute;
    top: 0;
    left: 0;
    height: 27px;
    width: 27px;
    background-color: inherit;
    border: 2px solid rgba(0,0,0,0.5);
}
.container:hover input ~ .checkmark
{
    background-color: inherit;
}
.container input:checked ~ .checkmark
{
    background-color: inherit;
}
.checkmark::after
{
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark::after
{
    display: block;
}
.container .checkmark::after
{
    left: 9px;
    width: 5px;
    height: 10px;
    border: solid rgba(0,0,0,0.5);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
button
{
    position: absolute;
    bottom: 150px;
    right: 140px;
    background: transparent;
    border: none;
    padding: 5px;
    color: rgba(0,0,0,0.7);
    font-size: 22px;
    outline: none;
}
.diet
{
    width: 75% !important;
}
input, button
{
    font-family: 'Cormorant Garamond', serif;
}
