<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale =1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Wedding Invite Form | uNikCODE</title>
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="invitation.component.css">
</head>
<body>
    <div class ="rsvp-container">
        <div class="rsvp-inner-container">
            <h1>WEDDING INVITATION</h1>
            <h2>Kindly reply by July 22nd,2022</h2>
            <form #invForm="ngForm">
                <fieldset class="full-width"><label>Name(s)</label>
                    <input type="text" required ngModel name="fname" #fname=ngModel>
                    <input type="text" >
                    <input type="text" >
                </fieldset>
                <fieldset class="half-width">
                    <label>Total guests:</label>
                    <input type="text" required ngModel name="tg" #tg=ngModel>
                </fieldset>
                <fieldset class="checkbox">
                    <label class="container">Yes we'll be there!
                        <input type="checkbox" ngModel name="yes" #yes=ngModel checked="checked">
                        <span class="checkmark"></span>
                    </label>
                </fieldset>
                <fieldset class="checkbox">
                    <label class="container">Sorry we can't make it
                        <input type="checkbox" ngModel name="yes" #yes=ngModel checked="checked">
                        <span class="checkmark"></span>
                    </label>
                </fieldset>
                <fieldset class="full-width">
                    <label>Dietary requirements:</label>
                    <input class ="diet" type="text" required ngModel name="die" #die=ngModel>
                </fieldset>
                <button type="button" class="btn" [disabled]="!invForm.valid" (click)="showinvite()">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </div>
</body>
</html>
