<mat-toolbar color ="primary">
    <span><mat-icon>card_giftcard</mat-icon>     EasyWed</span>
<div class ="spacer"></div>
<a mat-button routerLink="home">Home</a>
<a mat-button routerLink="login">Login</a>
<a mat-button routerLink="gallery">Gallery</a>
<a mat-button routerLink="invitation">Invitation</a>
<a mat-button routerLink="contact">Contact Us</a>
<a mat-raised-button color ="warn" routerLink="register">Register</a>
</mat-toolbar>
