<div class="container">
    <table class="table table-bordered table-striped table-hover table-sm">
      <thead>
          <tr class="bg-info text-white">
              <th>id</th>
              <th>username</th>
              <th>email</th>
              <th>password</th>
              <th>phoneno</th>
          </tr>
      </thead>
        <tbody>
          <tr *ngFor="let c of customers">
            <td>{{ c._id }}</td>
            <td>{{ c.username | lowercase}}</td>
            <td>{{ c.email | lowercase }}</td>
            <td>{{ c.password }}</td>
            <td>{{ c.phoneno }}</td>
          </tr>
        </tbody>
      </table>
  </div>
