h1{
    color:cadetblue;
}
table{
    border-collapse: separate;
    border-spacing: 0 15px;
}
th{
    color:tomato;
    background-color:unset;
}
td{
    width: 150px;
    text-align: center;
    border: 2px rgb(44, 161, 107);
    padding: 5px;
    background-color:rgb(195, 214, 22);
}
th, td {
    border: 2px solid black;
  }
